---
---

@import "reset";
@import "variables";
@import "functions";
// @import "syntax";
@import "hamburgers-settings";
@import "./hamburgers/hamburgers";
@import "swiper.min.css";
@import "swiper";
@import "portfolio.css";
@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One|Open+Sans');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 66.5%;
}

body {
  @include font-size(1.8);

  color: black;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

a {
  color: midnightblue;
}

#root {
  min-height: 1000px;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
  height: 100vh;
}

[id^=local-links-] {
  display: none !important;
}

.by-line {
  margin: 20px 0 0;
  font-size: .8em;
  word-spacing: .3em;
}

.backdrop {
  background: midnightblue;
  background-image:
    repeating-radial-gradient(
      circle at 30% 41%,
      midnightblue,
      black,
      black
    );
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: .75;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav-mobile-backdrop {
  @extend .backdrop;
  background: #000;
  // background: lighten($scrawlon-blue, 15%);
  display: none;
  z-index: 2;
  position: absolute;
  top: 42px;

  &.visible {
    display: block;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: bold;
  padding-top: 1em;
}

h1 {
  letter-spacing: .02em;
  line-height: 5.5rem;
  word-spacing: .1em;
}

a {
  text-decoration: none;
}

p {
  margin: 1em auto 1.2em;
  font-size: 1.5rem;
  line-height: 2.6rem;

  a {
    font-weight: bold;
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

small {
  font-size: 0.8em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul, ol {
  width: 100%;
  margin: 0.5em;
  padding-left: 1em;

  li {
    margin-right: 1.5em;
  }
}

blockquote {
  width: 100%;
  padding: 5px 15px;
  background-color: #f5f5f5;
}

code {
  background-color: #f5f5f5;
}

.pagination {
  font-size: .8em;
  font-weight: bold;
  letter-spacing: .1em;
  margin: 40px 0;
}

.top-header {
  display: none;
}

.share-page {
  padding: 15px 0;
  font-size: .85em;

  a {
    margin: 0 15px;
    font-size: 1.25em;
    font-family: 'Pathway Gothic One', sans-serif;
  }
}

.grid-box-cover {
  background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVQYV2NMKL/ty4ADMIIkF3SqbsYmP+gkAayXGgfe8HOVAAAAAElFTkSuQmCC);
  background-size: .5%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav-mobile-toggle {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 0;
  top: 8px;
  padding: 2px 10px;
  color: #fff;
  z-index: 11;
}

nav {
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  letter-spacing: .15em;
  margin: 0 auto;

  ul {
    margin: 0;
    padding: 8px 10px 5px;

    a, a:visited {
      color: #fff;
      background: #666;
      padding: 2px 5px;
    }

    li {
      display: inline-block;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
  }

  &.nav-desktop {
    position: relative;
    height: 42px;

    ul {
      position: absolute;
      top: 0;
      z-index: 10;
    }

    .float-right {
      display: none;
      font-size: .85em;

      a {
        &:hover, &.active, &.active-blog-post {
          color: #EF6C00;
        }

        &.active {
          cursor: default;
          border-left: 7px solid #EF6C00;
        }

        &.active-blog-post {
          cursor: pointer;
          border-left: 7px solid #EF6C00;
        }
      }
    }
  }

  &.nav-mobile {
    line-height: 2em;
    font-size: 1.6em;
    transform: translate(100vw, 0);
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 9;
    font-size: 2.2rem;

    .social-header {
      height: 44px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: #EF6C00;

      ul {
        &.social-icons {
          width: auto;
          height: auto;
          list-style-type: none;
          background: rgba(0,0,0,0);
          padding: 0;
          margin-left: 10vw;

          li {
            display: inline-block;
            margin-right: 1em;

            a {
              color: #fff;
              background: rgba(0,0,0,0);
              opacity: .75;
            }
          }
        }
      }
    }

    ul {
      background: #fff;
      width: 100vw;
      height: 100vh;
      padding: 74px 0 4vh 10vw;
      position: absolute;
      top: 0;
      overflow: hidden;
      // text-align: center;
      // padding: 20vh 20px 20px 10vw;


      li {
        display: block;
        a {
          color: #000;
          background: #fff;
          padding: 6px 0 3px 14px;
          opacity: 0.65;

          &.active {
            opacity: 0.75;
            color: #EF6C00;
            cursor: default;
          }

          &.active-blog-post {
            @extend .active;
            cursor: pointer;

            &:after {
              content: " *";
            }
          }
        }
      }
    }
  }
}

header, footer {
  background-color: black;
  color: white;
  width: 100%;
  position: relative;

  a {
    color: white;
  }
}

footer {
  font-size: 1.1rem;
  min-height: 10vh;
  overflow: auto;

  p {
    padding: 3px 0 0 3vw;
    text-align: center;
    font-size: 1.25em;
  }

  ul {

    &.social-icons {
      font-size: 3rem;
      text-decoration: none;
      width: 100%;
      padding: 0;
      margin: 0;

      [id^=local-links-] {
        display: inline-block !important;
      }

      li {
        display: inline-block;
        float: right;
        width: 27vw;
        margin: 0;
        padding: 20px 0;
      }
    }
  }
}

header {
  height: 64vh;
  min-height: 450px;
  max-height: 700px;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: 50% 60%;

  &.full-height {
    height: 94vh;
  }

  time {
    display: none;
  }

  .wrapper {
    position: relative;

    h1 {
      padding: 30% 0 0;

      &.page {
        font-size: 6.5rem;
        border-bottom: 2px solid #FFF;
        line-height: 1.5em;
        text-align: left;
      }
    }

    h2 {
      &.subheading {
        padding: 5px 0;
      }
    }
  }

  figcaption {
  }
}

figcaption {
  font-size: 1.1rem;
  position: absolute;
  bottom: 2px;
  right: 2px;
  line-height: 1.45rem;

  a {
    color: #fff;

    &:visited {
      color: #fff;
    }
  }
}

article {
  width: 100%;
  padding: 2em 0;
}

.float-right {
  float: right;
}


.wrapper {
  width: 90%;
  max-width: $readable-width;
  margin: 0 auto;

  p {
    color: #666;
    width: 100%;
  }
}

#disqus_thread {
  @extend .wrapper;
}

.blog-list {
  margin: 0 auto;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1.3em;
  word-spacing: .15em;
  letter-spacing: .03em;

  a {
    color: #EF6C00;

    &:hover {
      color: midnightblue;
    }
  }

  li {
    list-style-type: none;
    margin-bottom: 2em;

    .date {
      margin-right: 20px;
      display: block;
      font-family: 'Open Sans', sans-serif;
      font-size: .6em;
    }
  }

  time {
    display: none;
  }
}

#disqus_thread {
  width: 90%;
  margin: 40px auto;
}

.portfolio-list {
  li {
    margin: 0;
  }
}

@media only screen and #{$tablet} {
  body {
    @include font-size(1.6);
  }

  h1 {
    letter-spacing: .09em;
  }

  header {
    time {
      display: inline;
    }
  }

  nav {
    &.nav-mobile {
      .social-header {
        ul {
          &.social-icons {
            margin-left: 4vw;
          }
        }
      }

      ul {
        padding: 74px 2vw 4vh 4vw;
        text-align: left;

        li {
          margin-bottom: 20px;

          a {
            &:hover {
              opacity: 0.75;
              color: #EF6C00;
            }

            &.active:hover {
            }
          }
        }
      }
    }
  }

  article {
    padding: 4em 0;
  }

  .wrapper {
    width: 70%;
  }

  footer {
    p {
      text-align: left;
    }

    ul {
      &.social-icons {
        display: block;
        position: absolute;
        right: 3vw;
        top: 30%;

        li {
          width: auto;
          margin: 0 .5em;
          padding: 0;
        }
      }
    }
  }
}

@media only screen and #{$landscape} {
  body {
    @include font-size(1.7);
  }

  p {
    line-height: 2.8rem;
  }

  .no-scroll {
    overflow: auto;
    height: auto;
  }

  header {
    height: 60vh;
  }

  .top-header {
    display: block;
    background: #000;
    color: #fff;

    ul {
      &.social-icons {
        margin: 0 auto;
        list-style-type: none;
        text-align: center;

        li {
          display: inline-block;
          margin-right: 4.5em;

          a {
            color: #fff;
          }
        }
      }
    }
  }

  .nav-mobile {
    display: none;
  }

  .nav-mobile-toggle {
    display: none;
  }

  .nav-mobile-backdrop {
    &.visible {
      display: none;
    }
  }

  nav {
    &.nav-desktop {
      height: 60px;

      ul {
        padding: 17px 10px 5px;
      }

      .float-right {
        display: block;
        a {
          background: #fff;
          border-left: 7px solid #000;
          color: #000;
          opacity: 0.75;
          padding: 0 2px 0 10px;
          margin-right: 15px;
        }
      }
    }
  }

  footer {
    ul {
      &.social-icons {

      }
    }
  }

  .blog-list {
    font-size: 1.5em;
  }
}

@media only screen and #{$desktop} {
  body {
    @include font-size(1.8);
  }

  nav {
    font-size: 1.1em;
  }

  .wrapper {
    width: 90%;
  }
}

@media only screen and #{$large-desktop} {
  body {
    @include font-size(1.8);
  }
}
