---
---

/* test */
@import "reset";
@import "syntax";
@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One|Muli');

@function calculateRem($size) {
  $remSize: $size / $base-font-size;

  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin font-size($size: 1.6, $line: $size * 1.5) {
  font-size: $size * 10 + px;
  line-height: $line * 10 + px;
  font-size: $size + rem;
  line-height: $line + rem;
}

// create responsive h1-h6 tags
@mixin h($percentages...) {
  @each $percentage in $percentages {
    $i: index($percentages, $percentage);

    h#{$i} {
      @include font-size(3);
      font-size: $percentage;
    }
  }
}

$readable-width: 35em;
$base-font-size: 16px;
$padding: 0.9em;

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 66.5%;
}

body {
  @include font-size(1.5);

  font-family: 'Muli', serif;
  color: black;
}

// include h1-h6
@include h(235%, 175%, 150%, 125%, 115%, 105%);

h1, h2, h3, h4, h5, h6 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: bold;
  padding-top: 1em;
}

h1 {
  letter-spacing: .09em;
  line-height: 5.5rem;
  word-spacing: .1em;
}

h1.page {
  font-size: 8rem;
}

a {
  text-decoration: none;
}

p {
  width: 90%;
  max-width: $readable-width;
  margin: 1.25em auto;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

small {
  font-size: 0.8em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul, ol {
  width: 100%;
  margin: 0.5em;
  padding-left: 1em;

  li {
    margin-right: 1.5em;
  }
}

blockquote {
  width: 100%;
  padding: 5px 15px;
  background-color: #f5f5f5;
}

code {
  background-color: #f5f5f5;
}

nav {
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  letter-spacing: .15em;
  margin: 0 auto;

  ul {
    margin: 0;
    padding: 10px 10px 5px;

    a, a:visited {
      color: #fff;
      background: #666;
      padding: 2px 5px;
    }

    li {
      display: inline-block;
      text-transform: uppercase;
    }
  }
}

header, footer {
  background-color: black;
  color: white;
  width: 100%;

  a {
    color: white;
  }
}

header {
  background-size: cover;
  height: 70vh;
  min-height: 450px;
  padding-bottom: 2em;
  position: relative;
  width: 100%;

  .wrapper {
    position: relative;

    h1 {
      padding: 40% 0 0;
    }
  }

  .backdrop {
    background: #000;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: .75;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  figcaption {
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    right: 1vw;
  }
}

article {
  width: 100%;
  margin-bottom: 2em;
}

aside {
  display: none;
  float: left;
  margin-top: 2em;
  margin-left: 1em;
  font-size: 0.8em;
  width: 25%;
  max-width: 10em;

  img {
    width: 0;
  }
}

.float-right {
  float: right;
}

.wrapper {
  width: 90%;
  max-width: $readable-width;
  margin: 0 auto 20px;

  p {
    width: 100%;
  }
}

.blog-list {
  margin: 1em auto;

  li {
    list-style-type: none;
    margin-bottom: 0.5em;

    .date {
      margin-right: 20px;
      display: block;
    }
  }

  time {
    display: none;
  }
}

#disqus_thread {
  width: 90%;
  margin: 0 auto;
}

$smartphone: "(max-width: 30em)";
$tablet: "(min-width: 40em)";
$landscape: "(min-width: 60em)";
$desktop: "(min-width: 80em)";
$large-desktop: "(min-width: 90em)";

@media only screen and #{$tablet} {
  body {
    @include font-size(1.6);

    .blog-list {
      max-width: $readable-width;
      margin: 2em auto;

      li {
        list-style-type: none;
        margin-bottom: 1em;

        .date {
          display: inline;
        }
      }

      time {
        display: inline;
        margin-right: 0.5em;
      }
    }
  }
}

@media only screen and #{$landscape} {
  body {
    @include font-size(1.7);
  }

  aside {
    display: inline-block;

    img {
      width: 100%;
    }

    .blog-list {
      max-width: $readable-width * 2;
    }
  }

  .by-line {
    display: none;
  }
}

@media only screen and #{$desktop} {
  body {
    @include font-size(1.8);
  }

  aside {
    margin-left: 2em;
    max-width: 15em;
  }
}

@media only screen and #{$large-desktop} {
  body {
    @include font-size(1.8);
  }
}
