/*@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One|Open+Sans');*/

html {
  font-size: 66.5%;
}

body {
  font-size: 1.7rem;
  line-height: 2.55rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: bold;
  padding-top: 0;
}

.portfolio-wrapper {
  text-align: center;
  font-size: 2.5rem;
  font-family: sans-serif;
  font-family: 'Open Sans', sans-serif;
  min-height: 1600px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-footer {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-footer a {
  color: white;
  text-decoration: none;
}

.App-footer a:visited {
  color: white;
}

.App-intro {
  font-size: large;
}

.tag-cloud {
  display: none;
  font-size: .8em;
  padding: 0;
  background: midnightblue;
  background-image: repeating-radial-gradient(circle at 30% 41%, #191970, #000, #000);
}

.tag-cloud h2 {
  font-size: 1.3em;
  letter-spacing: .1em;
}

.tag-cloud li {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: .9em;
  line-height: .9em;
  border-right: 2px solid #fff;
  background: lightblue;
}

.tag-cloud li:first-of-type {
  border-left: 2px solid #fff;
}

.tag-cloud li:last-of-type {
  border-right: 2px solid #fff;
}

.tag-cloud li input[type=radio], .tag-filters li input[type=checkbox] {
  margin-top: -1px;
  vertical-align: middle;
}

.tag-cloud li input[type=radio] + label {
  margin-left: 5px;
}

.tag-cloud li input[type=radio] + label:hover {
  cursor: pointer;
}

.tag-cloud li.checked {
  background: #fff;
}

.tag-cloud li input[type=radio]:checked + label {
  font-weight: bold;
}

.tag-filters ul {
  max-width: 30em;
  margin: 0 auto 40px;
}

.tag-filters li {
  display: inline-block;
  text-align: left;
  font-size: .6em;
  margin-right: 10px;
}

.portfolio-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: .85em;
  max-width: 90%;
  margin: 0 auto;
}

.portfolio-list a {
  position: relative;
  display: inline-block;
  width: 98%;
  margin: 0 0 3em;
  padding: 0;
  text-decoration: none;
  color: #000;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.portfolio-list a:hover {
  box-shadow: 0 5px 5px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  margin-top: -2px;
  /*-webkit-box-shadow: 0px 6px 25px 4px rgba(231,166,26,1);
  -moz-box-shadow: 0px 6px 25px 4px rgba(231,166,26,1);
  box-shadow: 0px 6px 25px 4px rgba(231,166,26,1);  */
  /*-webkit-box-shadow: 0px 0px 0px 10px rgba(0,0,9,0.85);
  -moz-box-shadow: 0px 0px 0px 10px rgba(0,0,9,0.85);
  box-shadow: 0px 0px 0px 10px rgba(0,0,9,0.85);*/
}

.portfolio-list a:hover .project-details {
  /*background: #ffa726;
  color: white;*/
}

.portfolio-list a h1 {
  margin: 10px auto;
  width: 80%;
}

.project-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: #fff;
}

.project-backdrop {
  bottom: 0;
  opacity: 0;
  height: 100%;
}

.project-backdrop:hover {
  opacity: .85;
}

.project-image {
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 200px;
  border-radius: .28571429rem;
  margin: 5px;
}

.project-image.small {
  background-size: contain;
  background-repeat: no-repeat;
}

.project-details {
  display: none;
  padding: 1%;
  background: white;
  position: relative;
}

.project-details .tags, .portfolio-details-wrapper .tags {
  display: inline-block;
  margin: 0;
  font-size: .6em;
  letter-spacing: 0;
}

.portfolio-details-wrapper .tags {
  margin: 0 1em;
}

.project-details h3 {
  margin: 10px 0 8px;
  letter-spacing: .06em;
  line-height: 1.5em;
  padding-top: 0;
  font-size: 1em;
}

.portfolio-details-wrapper {
  background: #fff;
  padding: 0 0 4em;
  display: flex;
  justify-content: center;
  font-size: .85em;
}

.portfolio-details-wrapper article {
  background: #fff;
  max-width: 90%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 0;
}

.portfolio-details-wrapper .headline {
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 0 0 40px;
}

.portfolio-details-wrapper .shadow {
  margin: 0 0 30px;
  padding: 5px;
  border-radius: .5rem;
  box-shadow: 0 5px 5px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.portfolio-details-wrapper h1 {
  font-size: 1.5em;
  letter-spacing: inherit;
  line-height: 1.2em;
  margin-bottom: .25em;
  word-spacing: inherit;
  word-spacing: inherit;
}

.portfolio-details-wrapper h2 {
  font-size: 1.3em;
  margin-top: 2em;
  padding-left: 0;
  padding-top: 0;
}

.portfolio-details-wrapper h3 {
  display: block;
  font-size: .8em;
  font-weight: normal;
  margin: 1.5em 0 5px;
  line-height: 1.2em;
  letter-spacing: .05em;
  padding-top: 0;
  text-transform: uppercase;
}

.portfolio-details-wrapper h3:first-of-type {
  margin: 0 0 5px;
}

.portfolio-details-wrapper .content, .portfolio-details-wrapper aside {
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
}

.portfolio-details-wrapper aside .portfolio-tags-wrapper {
  background: rgb(238, 238, 238);
  padding: 20px 0;
}

.portfolio-details-wrapper .content {
  max-width: 40em;
  text-align: left;
  padding: 0;
  padding-bottom: 60px;
}

.portfolio-details-wrapper .content ul {
  max-width: 96%;
}

.portfolio-details-wrapper .content li {
  font-size: .7em;
  color: #666;
  line-height: 2em;
  margin-left: -15px;
}

.portfolio-details-wrapper .content p {
  color: #666;
  font-size: .7em;
}

.portfolio-details-wrapper .content a {
  text-decoration: none;
}

.portfolio-details-wrapper img {
  max-width: 100%;
  border-radius: .5rem;
}

.portfolio-details-text {
  max-width: 40em;
  margin: 0 auto;
  text-align: left;
}

.portfolio-details-agency {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1.9rem;
}

.portfolio-details-header {
  background: #666;
  color: #FFF;
  height: auto;
  min-height: 0;
  padding: 10px 0;
  margin: 0 0 10px;
  text-align: center;
}

.portfolio-details-header article {
  max-width: 90%;
  margin: 0 auto;
  padding: 0;
}

.portfolio-details-header h1 {
  font-size: 1.5em;
  padding-top: 0;
  line-height: 4rem;
}

.switch-wrapper {
  display: grid;
  grid-template-areas: "PageTransition";
  overflow: hidden;
}

.switch-wrapper > div {
  grid-area: PageTransition;
}

@media only screen and (min-width: 30em) {
  .project-image {
    height: 300px;
  }
}

@media only screen and (min-width: 40em) {
  .tag-cloud {
    display: block;
  }

  .project-details {
    display: block;
  }
}

@media only screen and (min-width: 60em) {
  .portfolio-list {
    max-width: 100%;
  }

  .portfolio-list a {
    width: 45.5%;
    margin: 0 2% 4em;
  }

  .project-image {
    height: 300px;
  }

  .portfolio-details-wrapper article {
    max-width: 80%;
  }

  .portfolio-details-wrapper .content {
    padding: 20px;
    margin: 0 40px 0 0;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-right: 40px;
  }

  .portfolio-details-wrapper .content li {
    margin-left: 0;
  }

  .portfolio-details-wrapper h2 {
    border-left: 24px solid black;
    padding-left: 10px;
  }

  .portfolio-details-wrapper aside {
    grid-column-start: 2;
    grid-column-end: 3;
    border-top: none;
    padding-top: 0;
  }
}

@media only screen and (min-width: 80em) {
  .project-image {
    height: 400px;
  }

  .portfolio-details-wrapper article {
    max-width: 1000px;
  }
}

@media only screen and (min-width: 90em) {
  .portfolio-list a {
    width: 26%;
    margin: 0 3.5% 4em;
  }

  .project-image {
    height: 250px;
  }
}
