---
layout: home
description: "Programming blog and professional portfolio of Baltimore-area
web developer, Scott McGrath"
tags: [code ruby javascipt programming]
---

<article>

  <ul class="blog-list">
    {% for post in paginator.posts %}
      <li>
        <span class='date'>{{ post.date | date: "%m/%d/%y" }}</span>
        <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">
          &lt;
        </a>
      {% else %}
        <span class="previous">&lt;</span>
      {% endif %}
      <span class="page_number ">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
      </span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">&gt;</a>
      {% else %}
        <span class="next ">&gt;</span>
      {% endif %}
    </div>
  </ul>
</article>
