<!doctype html>
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}

    <!-- Webmaster Tools verfication -->
    {% if site.google_verify %}<meta name="google-site-verification" content="{{ site.google_verify }}">{% endif %}
    {% if site.bing_verify %}<meta name="msvalidate.01" content="{{ site.bing_verify }}">{% endif %}

    <link rel="canonical" href="{{ canonical }}">
    {% if site.owner.google_plus %}<link rel="author" href="{{ site.owner.google_plus }}?rel=author">{% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- For all browsers -->
    <link rel="stylesheet" href="{{ site.url }}/css/styles.css">

    <meta http-equiv="cleartype" content="on">
    {% feed_meta %}

    {% include gh_pages_spa_script.html %}

    {% if page.heading == 404 %}
      {% include gh_pages_spa_404_script.html %}
    {% endif %}
  </head>

  <body>
    <div class="top-header">
      {% include social_networks.html %}
    </div>
    <div class="main-header">
      {% include navigation.html %}
    </div>

    {% if page.heading or page.title %}
      <header
        {% if page.header_image %}
          style="background-image:url({{ site.url }}/images/{{ page.header_image.file }}); background-size: cover;"
        {% else %}
          style="background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVQYV2NMKL/ty4ADMIIkF3SqbsYmP+gkAayXGgfe8HOVAAAAAElFTkSuQmCC);"
        {% endif %}>
        <div class="backdrop">
        </div>
        <div class="wrapper">
          <h1 {% if page.layout == "page" %} class="page" {% endif %}>
            {% if page.heading %}
              {{ page.heading }}
            {% else %}
              {{ page.title }}
            {% endif %}
          </h1>
          {% if page.subheading %}
            <h2 class="subheading">
              {{ page.subheading }}
            </h2>
          {% endif %}

          {% if page.author %}
            <div class="by-line">
              By {{ page.author }}
              {% if page.date %}
                <time datetime="{{ page.date | date_to_xmlschema }}"> - {{ page.date | date: "%B %d, %Y" }}</time>
              {% endif %}
            </div>
          {% endif %}
        </div>
        {% include image_caption.html image=page.header_image %}
      </header>
    {% endif %}

    {% if page.layout == "post" %}
      <div class="wrapper">
        {% include share_post.html %}
      </div>
    {% endif %}
