<!doctype html>
<html lang="en-US">
  <head>
    <title>
      {% if page.description %}{{ page.description }} | {% else %} {{ page.title }} | {% endif %}{{ site.title }}
    </title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    {% if page.header_image %}
      <meta property="og:image" content="{{ site.url }}/images/{{ page.header_image.file }}">
      <meta property="og:image:alt" content="{{ page.header_image.caption.title }}">
    {% endif %}

    <meta name="twitter:site" content="@scrawlon">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    {% if page.header_image %}
      <meta name="twitter:image" content="{{ site.url }}/images/{{ page.header_image.file }}">
      <meta name="twitter:image:alt" content="{{ page.header_image.caption.title }}">
    {% endif %}

    {% feed_meta %}

    {% include style.html %}

    <link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}{{ site.baseurl }}/favicon.ico" >
  </head>

  <body>
    <div class="container-xxl bg-light">

      {% include navigation.html %}

      {% if page.heading or page.title %}
        <div class="so-bg-mask p-5 bg-image" style="background-image:url({{ site.url }}/images/{{ page.header_image.file }});">
          <div class="row h-100">
            <div class="col-lg-3 col-md-4">
              <a href="/">
                {% include logo.html %}
              </a>
            </div>

            <div class="col-lg-9 col-md-8 col-12 text-white align-self-center">
              <h1 class="heading p-4 bg-dark border border-white">
                {% if page.heading %}
                  {{ page.heading }}
                {% else %}
                  {{ page.title }}
                {% endif %}
              </h1>
              {% if page.subheading %}
                <h2 class="subheading p-4 bg-dark">
                  {{ page.subheading }}
                </h2>
              {% endif %}

              {% if page.author %}
                <span class="by-line px-4 py-2 bg-dark">
                  By {{ page.author }}
                  {% if page.date %}
                    <time datetime="{{ page.date | date_to_xmlschema }}"> - {{ page.date | date: "%B %d, %Y" }}</time>
                  {% endif %}
                </span>
              {% endif %}
            </div>

          {% include image_caption.html image=page.header_image %}
          </div>
        </div>
      {% endif %}
