<nav class='nav-desktop'>
  <ul class='main-nav'>

    <!-- Desktop Nav -->
    {% for link in site.links reversed %}
	    <li class="float-right">
        {% if page.url == link.url or link.title == "Blog" and page.layout == "post" %}
          <span class="current-page-link">{{ link.title }}</span>
        {% else %}
          <a href="{{ site.url }}{{ link.url }}" class="{{ nav_class }}" title="{{ link.title }}">
            {{ link.title }}
          </a>
        {% endif %}
      </li>
    {% endfor %}

    <!-- Logo Home Link -->
    {% for home in site.home %}
	    <li><a href="{{ site.url }}{{ home.url }}">
        Scrawlon
      </a></li>
    {% endfor %}

  </ul>

  {% include social_networks.html %}


  <!-- Mobile Nav Toggle -->
  <div class="hamburger hamburger--slider nav-mobile-toggle" id="nav-mobile-toggle">
    <div class="hamburger-box">
      <div class="hamburger-inner"></div>
    </div>
  </div>
</nav>

<nav class="nav-mobile" id="nav-mobile">
  <ul>
    <!-- Logo Home Link -->
    {% assign home = site.home | first %}
    <li>
      <a href="{{ site.url }}{{ home.url }}"
        {% if home.url == page.url %} class="active" {% endif %} title="Home">
        Home
      </a>
    </li>

    <!-- Mobile Nav -->
    {% for link in site.links %}
	    <li>
        {% if page.url == link.url or link.title == "Blog" and page.layout == "post" %}
          <span class="current-page-link">{{ link.title }}</span>
        {% else %}
          <a href="{{ site.url }}{{ link.url }}" class="{{ nav_class }}" title="{{ link.title }}">
            {{ link.title }}
          </a>
        {% endif %}
      </li>
    {% endfor %}

  </ul>

  <!-- Social Icons -->
  <div class="social-header">
    {% include social_networks.html %}
  </div>

</nav>

<div class="nav-mobile-backdrop" id="nav-mobile-backdrop"></div>
