<!-- Mobile Nav Toggle -->
<div class="hamburger hamburger--slider nav-mobile-toggle" id="nav-mobile-toggle">
  <div class="hamburger-box">
    <div class="hamburger-inner"></div>
  </div>
</div>
<nav class='nav-desktop'>
  <ul>

    <!-- Desktop Nav -->
    {% for link in site.links reversed %}
      {% assign nav_link = link.url %}
      {% assign nav_class = "" %}
      {% if link.url == page.url %}
        {% assign nav_link = page.url %}
        {% assign nav_class = "active" %}
      {% elsif link.title == "Blog" and page.layout == "post" %}
        {% assign nav_class = "active-blog-post" %}
      {% endif %}

	    <li class="float-right">
        <a href="{{ site.url }}{{ nav_link }}" class="{{ nav_class }}" title="{{ link.title }}">
          {{ link.title }}
        </a>
      </li>
    {% endfor %}

    <!-- Logo Home Link -->
    {% for home in site.home %}
	    <li><a href="{{ site.url }}{{ home.url }}">{{ home.title }}</a></li>
    {% endfor %}

  </ul>
</nav>

<nav class="nav-mobile" id="nav-mobile">
  <ul>
    <!-- Logo Home Link -->
    {% assign home = site.home | first %}
    <li>
      <a href="{{ site.url }}{{ home.url }}"
        {% if home.url == page.url %} class="active" {% endif %} title="Home">
        Home
      </a>
    </li>

    <!-- Mobile Nav -->
    {% for link in site.links %}
      {% assign nav_link = link.url %}
      {% assign nav_class = "" %}
      {% if link.url == page.url %}
        {% assign nav_link = page.url %}
        {% assign nav_class = "active" %}
      {% elsif link.title == "Blog" and page.layout == "post" %}
        {% assign nav_class = "active-blog-post" %}
      {% endif %}

	    <li>
        <a href="{{ site.url }}{{ nav_link }}" class="{{ nav_class }}" title="{{ link.title }}">
          {{ link.title }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <!-- Social Icons -->
  <div class="social-header">
    {% include social_networks.html %}
  </div>

</nav>

<div class="nav-mobile-backdrop" id="nav-mobile-backdrop"></div>
