<!-- Mobile Nav Toggle -->
<!-- <div class="nav-mobile-toggle" id="nav-mobile-toggle">&#9776;</div> -->
<div class="hamburger hamburger--slider nav-mobile-toggle" id="nav-mobile-toggle">
  <div class="hamburger-box">
    <div class="hamburger-inner"></div>
  </div>
</div>
<nav class='nav-desktop'>
  <ul>

    <!-- Desktop Nav -->
    {% for link in site.links reversed %}
	    <li class="float-right">
        <a href="{{ site.url }}{{ link.url }}"
          {% if link.url == page.url %} class="active" {% endif %}>{{ link.title }}</a>
      </li>
    {% endfor %}

    <!-- Logo Home Link -->
    {% for home in site.home %}
	    <li><a href="{{ site.url }}{{ home.url }}">{{ home.title }}</a></li>
    {% endfor %}

  </ul>
</nav>

<nav class="nav-mobile" id="nav-mobile">
  <ul>
    <!-- Logo Home Link -->
    {% for home in site.home %}
	    <li>
        <a href="{{ site.url }}{{ home.url }}"
          {% if home.url == page.url %} class="active" {% endif %}>Home</a>
      </li>
    {% endfor %}

    <!-- Mobile Nav -->
    {% for link in site.links %}
	    <li>
        <a href="{{ site.url }}{{ link.url }}"
          {% if link.url == page.url %} class="active" {% endif %}>{{ link.title }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>

<div class="nav-mobile-backdrop" id="nav-mobile-backdrop"></div>
