{% assign social_share_links = site.owner.social_share_links %}
<div class="share-page">
  SHARE THIS:
  {% for social_share_link in social_share_links %}
    <a href="{{ social_share_link.url
      | replace: 'page.title', page.title
      | replace: 'page.url', page.url
      | replace: 'site.url', site.url
      | replace: 'site.owner.twitter', site.owner.twitter
      | replace: ' ', '+'
      }}"
      title="Share on {{social_share_link.name}}">
      <i class="fa {{social_share_link.icon}}"></i></a>
  {% endfor %}
</div>
