<!-- Slider main container -->
<div class="swiper-container" id="home-swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    {% for slide in site.slides_home %}
      <div class="swiper-slide">
        <div class="grid-box-cover"></div>
        <div class="slider-background"
          {% if slide.background-image %}
            style="background-image:
              url({{ site.url }}/images/{{ slide.background-image.file }});"
          {% else %}
            style="background:{{slide.background-color}}"
          {% endif %}>
        </div>
        <h1>SCRAWLON</h1>
        {% include image_caption.html image=slide.background-image %}
      </div>
    {% endfor %}
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
