<!-- Slider main container -->
<div class="swiper-container" id="home-swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    {% assign slides_by_order = site.slides_home | sort: 'order' %}
    {% for slide in slides_by_order %}
      <div class="slider-background"
        {% if slide.background-image %}
          style="background-image:
            linear-gradient(to bottom, rgba(25, 57, 102, 0.1), rgba(25, 57, 102, 0.5)),
            url({{ site.url }}/images/{{ slide.background-image.file }});"
        {% else if slide.background-color %}
          style="background:{{slide.background-color}}"
        {% endif %}>
        <div class="swiper-color-frame"></div>
        <div class="swiper-fade"></div>
        {{slide.content}}
        {% include image_caption.html image=slide.background-image %}
      </div>
    {% endfor %}
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
