<!-- Slider main container -->
<div class="swiper-container" id="home-swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    {% for slide in site.slides_home %}
      <div class="swiper-slide"
        style="background-image:url({{ site.url }}/images/{{ slide.background-image.file }}); background-size: cover;">
        <h1>Slide 1</h1>

        {% include image_caption.html image=slide.background-image %}
      </div>
    {% endfor %}
    <div class="swiper-slide">
      <h1>Slide 2</h1>
    </div>
    <div class="swiper-slide">
      <h1>Slide 3</h1>
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
