footer {
  background-color: black;
  color: white;
  width: 100%;
  position: relative;
  font-size: 1.1rem;
  min-height: 10vh;
  overflow: auto;

  p {
    padding: 3px 0 0 3vw;
    text-align: center;
    font-size: 1.25em;
  }

  a {
    color: white;
  }

  ul {

    &.social-icons {
      font-size: 3rem;
      text-decoration: none;
      width: 100%;
      padding: 0;
      margin: 0;
      text-align: center;

      [id^=local-links-] {
        display: inline-block !important;
      }

      li {
        display: inline-block;
        width: 16vw;
        margin: 0;
        padding: 20px 0;
        font-size: 2.5rem;
      }
    }
  }

  @media only screen and #{$tablet} {
    p {
      text-align: left;
    }

    ul {
      &.social-icons {
        text-align: right;


        li {
          width: auto;
          margin: 0 .5em;
          padding: 0;
          font-size: 3rem;
        }
      }
    }
  }

  @media only screen and #{$landscape} {
    ul {
      &.social-icons {

      }
    }
  }
}
