/* use to override Hamburgers variables https://github.com/jonsuh/hamburgers */
$hamburger-layer-width: 30px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 4px;
$hamburger-layer-color: #666;
