.main-header {
  position: inherit;
  z-index: 9;
  width: 100vw;
  background: #fff;

  @media only screen and #{$landscape} {
    position: fixed;
  }
}

.nav-mobile-backdrop {
  @extend .backdrop;
  background: #000 !important;
  // background: lighten($scrawlon-blue, 15%);
  display: none;
  z-index: 2;
  top: 42px !important;
  min-height: 100vh;

  &.visible {
    display: block;
  }
}

header {
  height: 50vh;
  min-height: 350px;
  max-height: 700px;
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-color: black;
  color: white;
  margin-top: 0;

  @media only screen and #{$tablet} {
    min-height: 450px;
  }
  @media only screen and #{$landscape} {
    margin-top: 58px;
  }


  &.not-ios {
    background-attachment: fixed;
  }

  &.full-height {
    height: 94vh;
  }

  a {
    color: white;
  }

  time {
    display: none;
  }

  .wrapper {
    position: relative;

    h1 {
      padding: 30% 0 0;
      opacity: 0;
      -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
      -moz-animation:fadeIn ease-in 1;
      animation:fadeIn ease-in 1;

      -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
      -moz-animation-fill-mode:forwards;
      animation-fill-mode:forwards;

      -webkit-animation-duration:2s;
      -moz-animation-duration:2s;
      animation-duration:2s;

      @media only screen and #{$landscape} {
        padding: 20% 0 0;
      }

      &.page {
        font-size: 6rem;
        font-weight: normal;
        line-height: 1.5em;
        text-align: center;
        text-transform: uppercase;
        border-bottom: none;

        @media only screen and #{$landscape} {
          text-align: left;
          text-transform: none;
          border-bottom: 2px solid #FFF;
        }
      }

      @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
      @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
      @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
    }

    h2 {
      &.subheading {
        padding: 5px 0;
      }
    }
  }

  figcaption {
  }
}

.top-header {
  display: none;
}

.nav-mobile-toggle {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 10px;
  top: 8px;
  padding: 2px 10px;
  color: #fff;
  z-index: 11;
}

nav {
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  letter-spacing: .15em;
  margin: 0 auto;

  ul {
    margin: 0;
    padding: 8px 10px 5px;

    // a, a:visited {
    //   color: #fff;
    //   background: #666;
    //   padding: 2px 5px;
    // }

    li {
      display: inline-block;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
  }

  &.nav-desktop {
    position: relative;
    height: 42px;
    border-bottom: 1px solid #000;

    ul {
      &.main-nav {
        position: absolute;
        top: 0;
        z-index: 10;
      }

      &.social-icons {
        position: absolute;
        top: 54px;
        right: 0;
        z-index: 10;
        text-align: right;
        display: none;

        .fa {
          // text-shadow: -3px 4px 2px #c54040, -3px 2px #c74b16;
          // text-shadow: -2px 2px 2px #c54040, 0px 2px #c74b16;
        }

        a {
          color: #fff;
          background: none;
          font-size: 1.25em;
        }

        @media only screen and #{$landscape} {
          & {
            display: block;
          }
        }
      }
    }

    .float-right {
      display: none;
      font-size: .85em;

      a {
        &:hover, &.active, &.active-blog-post {
          color: #EF6C00;
        }

        &.active {
          cursor: default;
          border-left: 7px solid #EF6C00;
        }

        &.active-blog-post {
          cursor: pointer;
          border-left: 7px solid #EF6C00;
        }
      }
    }
  }

  &.nav-mobile {
    line-height: 2em;
    font-size: 1.6em;
    transform: translate(0, 0);
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 9;
    font-size: 2.2rem;
    display: none;
    @include scanlines(#000, 1px, 0deg, 0.3);
    background-size: 300%;
    background-position: 50%;

    figcaption {
      font-size: .7rem;
      position: absolute;
      line-height: 1.45rem;
      color: #fff;
      z-index: 23;
      top: 80vh;
      width: 100%;
      text-align: center;
    }

    &.visible {
      display: block;
    }

    .social-header {
      height: 30vh;
      position: absolute;
      top: 70vh;
      left: 0;
      right: 0;

      ul {
        &.social-icons {
          width: auto;
          height: auto;
          list-style-type: none;
          background: rgba(0,0,0,0);
          padding: 0;
          position: relative;

          li {
            display: inline-block;
            margin-right: 1em;
            opacity: 1;

            &:last-of-type {
              margin-right: 0;
            }

            a {
              color: #fff;
              background: rgba(0,0,0,0);
              opacity: .75;
              width: auto;
              min-width: 25px;
            }
          }
        }
      }
    }

    ul {
      width: 100vw;
      height: 100vh;
      // padding: 8vh 0 4vh 22vw;
      position: absolute;
      top: 0;
      overflow: hidden;
      z-index: 5;
      text-align: center;
      margin: 0;
      padding: 8px 0 5px;


      li {
        display: block;
        opacity: 0;
        margin: 20px auto;

        .current-page-link {
          color: #EF6C00;
          opacity: 0.75;
          padding: 3px 0 1px;
          background: #fff;
        }

        a {
          color: #000;
          background: #fff;
          padding: 10px 0 6px;
          line-height: 1em;
          opacity: 0.85;
          display: block;
          margin: 0 auto;
          width: 70%;
          min-width: 225px;
          max-width: 300px;

          &:hover {
            // padding: 0px 10px 0px 14px;
          }
        }
      }
    }
  }
}


@media only screen and #{$tablet} {
  header {
    time {
      display: inline;
    }
  }

  nav {
    &.nav-mobile {
      background-size: 200%;

      ul {
        padding: 10vh 0;
        width: 100%;
        // padding: 8vh 2vw 4vh 36vw;
        // text-align: left;
        // width: 28vw;

        li {
          margin-bottom: 20px;
          width: 100%;
          margin: 30px auto;

          a {
            width: 24%;

            &:hover {
              opacity: 0.75;
              color: #EF6C00;
            }

            &.active:hover {
            }
          }
        }
      }

      .social-header {
        ul {
          &.social-icons {
            // margin-left: 36vw;
          }

          li {
            width: auto;
          }
        }
      }
    }
  }
}


@media only screen and #{$landscape} {
  .top-header {
    display: block;
    background: #000;
    color: #fff;

    ul {
      &.social-icons {
        margin: 0 auto;
        list-style-type: none;
        text-align: center;

        li {
          display: inline-block;
          margin-right: 4.5em;

          a {
            color: #fff;
          }
        }
      }
    }
  }

  .nav-mobile {
    display: none;
  }

  .nav-mobile-toggle {
    display: none;
  }

  .nav-mobile-backdrop {
    &.visible {
      display: none;
    }
  }

  nav {
    &.nav-desktop {
      height: 60px;

      ul {
        padding: 17px 10px 5px;
      }

      .float-right {
        display: block;
        a, .current-page-link {
          background: #fff;
          border-left: 7px solid #000;
          color: #000;
          opacity: 0.75;
          padding: 0 2px 0 10px;
          margin-right: 15px;
        }

        .current-page-link {
          color: #EF6C00;
          border-left: 7px solid #EF6C00;
        }

      }
    }
  }
}
