.so-bg-mask {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
  height: 60vh;
  box-shadow: 0 0 180px 20px midnightblue inset;

  @media screen and (min-width: 768px) {
    height: 50vh;
  }

  &::before {
    z-index: 1;
    content: "";
    display: block;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 2px, 3px 100%;
    mix-blend-mode: hard-light;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: .75;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(8px) saturate(0.75) contrast(1.5);
  }
  
  &::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    opacity: .95;
    z-index: 2;
    mix-blend-mode: overlay;
    animation: flash 10s forwards;
  }

  @keyframes flash {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 0.15;
    }
  }

  & * {
    z-index: 100;
  }
}

.main-header {
  position: inherit;
  z-index: 9;
  width: 100vw;
  height: 0;
}

nav {
  &.navbar {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: .8em;
  }
}

header {
  height: 38vh;
  min-height: 300px;
  max-height: 700px;
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-color: black;
  color: white;
  margin-top: 0;

  @media only screen and #{$tablet} {
    height: 40vh;
    min-height: 350px;
  }
  @media only screen and #{$landscape} {
    height: 50vh;
    margin-top: 58px;
  }


  &.not-ios {
    background-attachment: fixed;
  }

  &.full-height {
    height: 94vh;

    @media only screen and #{$tablet} {
      height: 68vh;
    }
  }

  a {
    color: white;
  }

  time {
    display: none;
  }

  .wrapper {
    position: relative;

    .page-heading-wrapper {
      position: absolute;
      top: 88px;
      width: 100%;

      @media only screen and #{$tablet} {
        top: 115px;
      }

      @media only screen and #{$landscape} {
        top: 150px;
      }
    }

    h1 {
      padding: 30% 0 0;

      @media only screen and #{$landscape} {
        padding: 20% 0 0;
      }

      &.page {
        background: transparent;
        font-size: 6rem;
        font-weight: normal;
        line-height: 1em;
        text-align: center;
        text-transform: uppercase;
        border-bottom: none;
        padding: 0 0 0 10px;
        width: 100%;
        position: absolute;

        @media only screen and #{$landscape} {
          text-align: left;
          overflow: hidden; /* Ensures the content is not revealed until the animation */
          white-space: nowrap; /* Keeps the content on a single line */
          width: auto;
          color: #fff;
          border-right: .1em solid #000; /* The typwriter cursor */
          background: transparent;
          /* typewriter effect: https://css-tricks.com/snippets/css/typewriter-effect/ */
          -webkit-animation:
            typing 5s steps(44) 1s 1 normal both,
            blink-caret .95s step-end 4;
          -moz-animation:
            typing 5s steps(44) 1s 1 normal both,
            blink-caret .95s step-end 4;
          animation:
            typing 5s steps(44) 1s 1 normal both,
            blink-caret .95s step-end 4;

          /* The typing effect */
          @-webkit-keyframes typing {
            0% { max-width: 0; background: transparent }
            10% { background: #000 }
            100% { max-width: $readable-width; background: #000 }
          }
          @-moz-keyframes typing {
            0% { max-width: 0; background: transparent }
            10% { background: #000 }
            100% { max-width: $readable-width; background: #000 }
          }
          @keyframes typing {
            0% { max-width: 0; background: transparent }
            10% { background: #000 }
            100% { max-width: $readable-width; background: #000 }
          }

          /* The typewriter cursor effect */
          @-webkit-keyframes blink-caret {
            from, to { border-color: #1c0055 }
            50% { border-color: #fff; }
          }
          @-moz-keyframes blink-caret {
            from, to { border-color: #1c0055 }
            50% { border-color: #fff; }
          }
          @keyframes blink-caret {
            from, to { border-color: #1c0055 }
            50% { border-color: #fff; }
          }
        }
      }
    }

    h2 {
      &.subheading {
        padding: 5px 0;
      }
    }

    .page-header-underline {
      height: 0;
      color: #FFF;
      background: #FFF;
      border: 0;
      font-size: 0;
      margin: 72px 0 0;

        @media only screen and #{$landscape} {
          height: 2px;
        }
    }
  }
}

.top-header {
  display: none;
}

@media only screen and #{$tablet} {
  header {
    time {
      display: inline;
    }
  }
}


@media only screen and #{$landscape} {
  .top-header {
    display: block;
    background: #000;
    color: #fff;

    ul {
      &.social-icons {
        margin: 0 auto;
        list-style-type: none;
        text-align: center;
        width: auto;

        li {
          display: inline-block;
          margin-right: 4.5em;

          a {
            color: #fff;
          }
        }
      }
    }
  }
}
