.home-intro {
  @extend .wrapper;
  padding: 0 0 2em;

  @media only screen and #{$tablet} {
    padding: 0 2em 2em;
  }

  h1 {
    padding-top: 0;
    letter-spacing: 0;
  }

  p {
    max-width: $readable-width;
    margin: 1em 0;

    @media only screen and #{$tablet} {
      font-size: 1.7rem;
    }
  }
}

@mixin preview-block() {
  display: inline-block;
  background: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  position: relative;
  float:left;
}

.block-header {
  text-align: center;
  background: midnightblue;
  color: #fff;
  padding: .5em 0;
  font-size: 4rem;
  margin: 2em 0 0;

  @media only screen and #{$tablet} {
    margin: 2em 0 .5em;
    font-size: 4.45rem;
  }
}

.block-wrapper {
  padding: 0;
  background: none;
  height: auto;
  overflow: auto;
  max-width: 1400px;
  margin: 0 auto;

  a {
    color: #fff;
    z-index: 3;
    position: absolute;
    top: 20%;
    line-height: 5rem;
    padding: 0 0 0 2em;
    width: 80%;
    max-width: 80%;

    h2 {
      text-transform: uppercase;
      letter-spacing: 0;
      word-spacing: .25rem;
      line-height: 5.5rem;
      padding: 0 .5em;
      font-size: 3rem;
      font-weight: normal;
      background: transparent;
      border-left: 10px solid #fff;
      color: #FFF;
      // border-radius: 4px;



      & .text-highlight {
        background: transparent;
        box-shadow: none;
      }

      @media only screen and #{$tablet} {
        font-size: 3.25rem;
      }
    }
  }

  .block {
    @include preview-block();
    width: 100%;
    margin: 0;
    height: 350px;

    @media only screen and #{$tablet} {
      width: 48%;
      margin: 0 1% 2%;
    }

    .backdrop {
      background: midnightblue;
    }

    &:nth-of-type(4) {
      .backdrop {
        background: #000;
        opacity: 1;
      }
    }

    &:hover {
      & .backdrop {
        opacity: .9;
      }

      & h2 {
        border-left: 10px solid #F19057;
        color: #FFF;

        & .text-highlight {
          // border-bottom: 3px solid #F19057;
          background: #F19057;
          box-shadow: 5px 0 0 #F19057, -5px 0 0 #F19057;
        }
      }
    }

    // &:hover h2 {
    //   word-spacing: .4em;
    // }

    .backdrop {
      background-image: none;
      opacity: .75;
      z-index: 2;
    }
  }

  .block-portfolio {
    @include preview-block();
    background: none;
    height: auto;
    width: 100%;
    margin: 2em 0 1em;

    @media only screen and #{$tablet} {
      width: 60%;
      margin: 1em 20%;
    }

    @media only screen and #{$landscape} {
      width: 33.333%;
      margin: .5em 0;
    }

    a {
      top: 10%;
      position: inherit;
      padding: 0;
      display: block;
      margin: 0 auto;
      width: 96%;
      max-width: 96%;

      @media only screen and #{$tablet} {
        width: 90%;
        max-width: 90%;
      }
    }

    h2 {
      color: #000;
      text-align: left;
      width: 80%;
      max-width: 80%;
      margin: 0;
      padding: 0;
    }

    img {
      width: 100%;
      max-width: 100%;
      border-radius: .28571429rem;
      border: 1px solid black;
      display: block;
      margin: 0 auto;
    }
  }
}

.block-link {
  @include preview-block();
  width: 100%;
  margin: 1em 0 3em;
  text-align: center;

  a {
    width: 93%;
    max-width: 93%;
    padding: 0;
    position: inherit;

    h2 {
      border-left: none;
      color: #000;
      padding: 0;
      display: inline;
      border-left: none;

      &:hover {
        border-left: none;
      }

      @media only screen and #{$tablet} {
        padding: 0 0 0 .5em;
      }

      &:after {
        content: "";

        @media only screen and #{$tablet} {
          content: "...";
        }
      }
    }
  }
}
