.home-intro {
  @extend .wrapper;
  padding: 0 2em 2em;

  h1 {
    padding-top: 0;
  }

  p {
    max-width: $readable-width;
    margin: 1em 0;

    @media only screen and #{$tablet} {
      font-size: 1.7rem;
    }
  }
}

.block-header {
  padding: 1em;
  margin: 2em 0 0;
  text-align: center;
  background: midnightblue;
  text-transform: uppercase;
  font-size: 6rem;
  color: #fff;
}

.block-wrapper {
  padding: 0;
  clear: both;
  margin: 2em 0;
  background: none;

  a {
    color: #fff;
    z-index: 3;
    position: absolute;
    top: 20%;
    line-height: 5rem;
    padding: 0 0 0 2em;
    width: 80%;
    max-width: 80%;

    h2 {
      text-transform: uppercase;
      letter-spacing: .15rem;
      word-spacing: .25rem;
      font-size: 3.75rem;
      line-height: 5.5rem;
      border-left: 10px solid #fff;
      padding: 0 0 0 .5em;
    }
  }

  .block {
    width: 50%;
    display: inline-block;
    background: #fff;
    margin: 0;
    height: 450px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    position: relative;
    float:left;

    &:nth-of-type(1) {
      .backdrop {
        background: #000;
      }
    }

    &:nth-of-type(4) {
      .backdrop {
        background: #000;
        opacity: 1;
      }
    }

    &:hover .backdrop {
      opacity: .9;
    }

    // &:hover h2 {
    //   word-spacing: .4em;
    // }

    .backdrop {
      background-image: none;
      opacity: .75;
      z-index: 2;
    }
  }

  .block-portfolio {
    @extend .block;
    background: #fff;
    width: 33.333%;
    height: 350px;
    background: none;

    a {
      top: 10%;
      position: inherit;
      padding: 0;
      width: 80%;
      max-width: 80%;
      display: block;
      margin: 0 auto;
    }

    h2 {
      color: #000;
      text-align: left;
      width: 80%;
      max-width: 80%;
      margin: 0;
      padding: 0;
    }

    img {
      width: 100%;
      max-width: 100%;
      border-radius: .28571429rem;
      border: 1px solid black;
      display: block;
      margin: 0 auto;
    }
  }
}

.block-link {
  @extend .block-portfolio;
  width: 100% !important;
  height: 100px !important;

  a {
    width: 93% !important;
    max-width: 93% !important;
  }
}
