
/* Main Logo Slider */
.scrawlon-logo-full {
  width: 250px;
  height: 250px;
  opacity: 0;
  // background: linear-gradient(to bottom, transparent, rgba(25,25,112,0.6));

  @media screen and (min-width: 650px) {
    width: 300px;
    height: 300px;
  }

  .logo-frame {
    stroke-dasharray: 741;
    stroke-dashoffset: 986;
  }

  .logo-so {
    stroke: #fff;
    stroke-width: 1;
    stroke-opacity: 0;
    fill-opacity: 0;
  }

  .logo-scrawlon {
    fill-opacity: 0;
  }
}

span.svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 42px;

  @media only screen and #{$landscape} {
    height: 60px;
  }
  
  .scrawlon-logo-small {
      height: 42px;

    @media only screen and #{$landscape} {
      height: 60px;
    }
  }
}

.scroll-arrow {
  margin: 0 auto;
  width: 70px;
  height: 70px;
  opacity: 0;
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
  cursor: pointer;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
  animation-duration:2s;

  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

  @media only screen and #{$landscape} {
    margin: 60px auto 0;
  }

  &.home-arrow {
    margin: -30px auto 0;

    -webkit-animation-duration:6s;
    -moz-animation-duration:6s;
    animation-duration:6s;
  }
}
