@mixin scanlines($color, $height: 1px, $angle: 0, $opacity: 0.2) {
    position: relative;
    &:after {
      background-image: repeating-linear-gradient(to bottom, transparent 0 ,transparent $height, $color $height, $color $height * 2);
      background-size: 100% $height * 2, cover;
      transform-origin: 50% 50%;
      transform: rotate($angle);
      content: '';
      opacity: $opacity;
      position: absolute;
      top: -150%;
      left: -150%;
      right: -150%;
      bottom: -150%;
    }
}

.swiper-wrapper {
  background: #001;
  margin-top: 0;
  text-align: center;

  .slide-header {
    display: inline-block;
    margin-top: 10vh;
  }

  .slide-content {
    @extend .slide-header;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 10px 40px 40px;
    letter-spacing: .05em;
    word-spacing: .35em;
    border-radius: 10px;
    box-shadow: -2px 2px 40px #fff, -1px 3px #000;
  }

  @media only screen and #{$landscape} {
    & {
      margin-top: 58px;
    }
  }
}

.swiper-fade {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, transparent, rgba(25, 25, 112, 0.6));
  z-index: 3;
}

.swiper-color-frame {
  @extend .swiper-fade;
  background: #000;
  z-index: 2;
}

.swiper-slide {
  background: #000;
  padding-bottom: 30px;
  text-align: center;
  height: 94vh;
  min-height: 450px;
  max-height: 700px;
  position: relative;
  width: 100%;
  color: #fff;
  font-size: 2em;

  h1, h2, h3, h4, h5, h6 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20%;
  }

  @include h(235%, 175%, 150%, 125%, 115%, 105%);
}

.slider-background {
  height: 94vh;
  min-height: 450px;
  max-height: 700px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  @include scanlines(#000, 1px, 0deg, 0.3);
  z-index: 1;

  &.not-ios {
    background-attachment: fixed;
  }

  h1 {
    color: #FFF;
  }

  figcaption {
    z-index: 4;
    opacity: 0;
  }

  #main-logo {
    position: relative;
    z-index: 4;

    @media only screen and #{$tablet} {
      p {
        font-size: 1em;
      }
    }

    p {
      color: #fff;
      top: 30vh;
      font-size: 3em;
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      padding: 0 20px;
      opacity: 0;
      line-height: 1.2em;
      text-shadow: #000 0 0 40px;

      span {
        font-size: 1em;
        color: #fff;
        opacity: 0;
      }
    }
  }
}

@media only screen and #{$tablet} {
  .swiper-slide {
    // background-size: 200%;
  }
}
