
.swiper-wrapper {
  background: #001;
  margin-top: 0;
  text-align: center;
  overflow: hidden;

  .slide-header {
    display: inline-block;
    margin-top: 10vh;
  }

  .slide-content {
    @extend .slide-header;
    color: #fff;
    width: 100%;

    #homeLogoAnimation {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        padding: 0;
        margin: 0;
      }
    }
  }

  @media only screen and #{$landscape} {
    & {
      margin-top: 58px;
    }
  }
}

.swiper-fade {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, transparent, rgba(25, 25, 112, 0.6));
  z-index: 3;
}

.swiper-color-frame {
  @extend .swiper-fade;
  background: #000;
  z-index: 2;
  opacity: .75;
}

.swiper-slide {
  background: #000;
  padding-bottom: 30px;
  text-align: center;
  height: 94vh;
  min-height: 450px;
  max-height: 700px;
  position: relative;
  width: 100%;
  color: #fff;
  font-size: 2em;

  h1, h2, h3, h4, h5, h6 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20%;
  }

  @include h(235%, 175%, 150%, 125%, 115%, 105%);
}

.slider-background {
  height: 94vh;
  min-height: 450px;
  max-height: 700px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  // background-size: cover;
  @include scanlines(#000, 1px, 0deg, 0.3);
  z-index: 1;
  -webkit-animation: imagebulger 30s forwards;
  -moz-animation: imagebulger 30s forwards;
  -o-animation: imagebulger 30s forwards;
  animation: imagebulger 30s forwards;
  /* from http://jsfiddle.net/e2tt2mao/703/ */

  @-o-keyframes imagebulger {
    0% { background-size: 140% auto; }
    14% { background-size: 100% auto; }
    100% { background-size: 100% auto; }
  }

  @-moz-keyframes imagebulger {
    0% { background-size: 140% auto; }
    14% { background-size: 100% auto; }
    100% { background-size: 100% auto; }
  }

  @-webkit-keyframes imagebulger {
    0% { background-size: 140% auto; }
    14% { background-size: 100% auto; }
    100% { background-size: 100% auto; }
  }

  &.not-ios {
    background-attachment: fixed;
  }

  h1 {
    color: #FFF;
  }

  figcaption {
    z-index: 4;
    opacity: 0;
  }

  #main-logo {
    position: relative;
    z-index: 4;

    .scroll-arrow {
      margin: -30px auto 0;

      -webkit-animation-duration:6s;
      -moz-animation-duration:6s;
      animation-duration:6s;
    }

    @media only screen and #{$tablet} {
      p {
        font-size: 1em;
      }
    }

    p {
      color: #fff;
      top: 30vh;
      font-size: 3em;
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      padding: 0 20px;
      opacity: 0;
      line-height: 1.2em;
      text-shadow: #000 0 0 40px;

      span {
        font-size: 1em;
        color: #fff;
        opacity: 0;
      }
    }
  }
}

@media only screen and #{$tablet} {
  .swiper-slide {
    // background-size: 200%;
  }
}
