/* media queries */
$smartphone: "(max-width: 30em)";
$tablet: "(min-width: 40em)";
$landscape: "(min-width: 60em)";
$desktop: "(min-width: 80em)";
$large-desktop: "(min-width: 90em)";

$scrawlon-blue: #90CAF9;

$readable-width: 35em;
$base-font-size: 16px;
$padding: 0.9em;
