// Critical
@import "reset";
@import "variables";
@import "functions";
@import "home";
@import "header";
@import "hamburgers-settings";
@import "./hamburgers/hamburgers";
@import "swiper.min";
@import "swiper";
@import "svg";
@import "portfolio";

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 66.5%;
}

body {
  @include font-size(1.8);

  color: black;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

a {
  color: midnightblue;
}

iframe {
  margin: 40px auto;
}

#root {
  min-height: 1000px;
  margin-top: 0;

  @media only screen and #{$landscape} {
    & {
      margin-top: 58px;
    }
  }
}

.no-scroll {
  overflow: hidden;
  height: 100%;
  height: 100vh;
}

[id^=local-links-] {
  display: none !important;
}

.by-line {
  margin: 20px 0 0;
  font-size: .8em;
  word-spacing: .3em;
}

.backdrop {
  background: midnightblue;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: .75;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: bold;
  padding-top: 1em;
}

h1 {
  line-height: 5.5rem;
  word-spacing: .1em;
  letter-spacing: 0;

  @media only screen and #{$tablet} {
    letter-spacing: .02em;
  }
}

a {
  text-decoration: none;
}

p {
  margin: 1em auto 1.2em;
  font-size: 1.5rem;
  line-height: 2.6rem;

  a {
    font-weight: bold;
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

small {
  font-size: 0.8em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul, ol {
  width: 100%;
  margin: 0.5em;
  padding-left: 1em;

  li {
    margin-right: 1.5em;
  }
}

blockquote {
  width: 100%;
  padding: 5px 15px;
  background-color: #f5f5f5;
}

code {
  background-color: #f5f5f5;
}

.pagination {
  font-size: .8em;
  font-weight: bold;
  margin: 40px 0;
  width: 100%;
  letter-spacing: 0;
  text-align: center;

  @media only screen and #{$tablet} {
    letter-spacing: .1em;
    text-align: right;
  }
}

.share-page {
  padding: 15px 0;
  font-size: .85em;

  a {
    margin: 0 15px;
    font-size: 1.5em;
    font-family: 'Pathway Gothic One', sans-serif;
  }
}

.grid-box-cover {
  background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVQYV2NMKL/ty4ADMIIkF3SqbsYmP+gkAayXGgfe8HOVAAAAAElFTkSuQmCC);
  background-size: .5%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
  position: relative;

  a {
    color: white;
  }
}

footer {
  font-size: 1.1rem;
  min-height: 10vh;
  overflow: auto;

  p {
    padding: 3px 0 0 3vw;
    text-align: center;
    font-size: 1.25em;
  }

  ul {

    &.social-icons {
      font-size: 3rem;
      text-decoration: none;
      width: 100%;
      padding: 0;
      margin: 0;

      [id^=local-links-] {
        display: inline-block !important;
      }

      li {
        display: inline-block;
        float: right;
        width: 27vw;
        margin: 0;
        padding: 20px 0;
      }
    }
  }
}

figcaption {
  font-size: 1.1rem;
  position: absolute;
  bottom: 2px;
  right: 2px;
  line-height: 1.45rem;
  color: #fff;

  a {
    color: #fff;

    &:visited {
      color: #fff;
    }
  }
}

article {
  width: 100%;
  padding: 2em 0;
}

.float-right {
  float: right;
}


.wrapper {
  width: 90%;
  max-width: $readable-width;
  margin: 0 auto;

  p {
    color: #666;
    width: 100%;
  }
}

.wide-wrapper {
  width: 90%;
  margin: 0 auto;
}

.fullwidth-wrapper {
  width: 100%;
  margin: 0 auto;
}

#disqus_thread {
  @extend .wrapper;
}

.blog-list {
  margin: 0 auto;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1.3em;
  word-spacing: .15em;
  letter-spacing: .03em;

  a {
    color: #EF6C00;

    &:hover {
      color: midnightblue;
    }
  }

  li {
    list-style-type: none;
    margin-bottom: 2em;

    .date {
      margin-right: 20px;
      display: block;
      font-family: 'Open Sans', sans-serif;
      font-size: .6em;
    }
  }

  time {
    display: none;
  }
}

#disqus_thread {
  width: 90%;
  margin: 40px auto;
}

.portfolio-list {
  li {
    margin: 0;
  }
}

@media only screen and #{$tablet} {
  body {
    @include font-size(1.6);
  }

  h1 {
    letter-spacing: .09em;
  }

  article {
    padding: 4em 0;
  }

  .wrapper {
    width: 70%;
  }

  .wide-wrapper {
    width: 80%;
  }

  footer {
    p {
      text-align: left;
    }

    ul {
      &.social-icons {
        display: block;
        position: absolute;
        right: 3vw;
        top: 30%;

        li {
          width: auto;
          margin: 0 .5em;
          padding: 0;
        }
      }
    }
  }
}

@media only screen and #{$landscape} {
  body {
    @include font-size(1.7);
  }

  p {
    line-height: 2.8rem;
  }

  .no-scroll {
    overflow: auto;
    height: auto;
  }

  footer {
    ul {
      &.social-icons {

      }
    }
  }

  .blog-list {
    font-size: 1.5em;
  }
}

@media only screen and #{$desktop} {
  body {
    @include font-size(1.8);
  }

  nav {
    font-size: 1.1em;
  }

  .wrapper {
    width: 90%;
  }
}

@media only screen and #{$large-desktop} {
  body {
    @include font-size(1.8);
  }
}
