{% include head.html %}

<article>
  <aside>
    <img src="{{ site.url }}/images/{{ site.owner.avatar }}" title="About {{ site.owner.name }}" /><br />

    By {{ site.owner.name }}<br />
    {% if page.date %}
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}

    {% if page.tags.first %}
      TAGS:
    {% endif %}
    {% for tag in page.tags %}
      <a href="{{ site.url }}/tags.html#{{ tag | cgi_encode }}" title="Pages tagged {{ tag }}" rel="tag">{{ tag }}</a>
    {% unless forloop.last %} &bull;
    {% endunless %}
    {% endfor %}
  </aside>

  <div class="wrapper">
    {{ content }}
    <nav>
      {% if page.previous %}
        <a href="{{ site.url }}{{ page.previous.url }}" class="btn" title="{{ page.previous.title }}">< last page</a>
        {% if page.next %}
          --
        {% endif %}
      {% endif %}
      {% if page.next %}
        <a href="{{ site.url }}{{ page.next.url }}" class="btn" title="{{ page.next.title }}">next page ></a>
      {% endif %}
    </nav><!-- /.pagination -->
  </div>

  {% if page.comments %}
    <div id="disqus_thread"></div><!-- /#disqus_thread -->
  {% endif %}

</article>

{% include footer.html %}
